.App {
  text-align: center;
}

.wel1{
  Width:100%;
  Height:44px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
}

h2{
  color: white;
}

.wel2{
  margin-top: 165px;
}

.getStart{
  margin-top: 70px;
  width: 315px;
  height: 56px;
  border-radius: 40px;
  background-color: #cb8529
}

.registr2{
  display: grid;
}


.registr-3{
  width: 315px;
  height: 56px;
  margin-left: 30px;
  margin-top: 30px;
}

input{
  Width:325px;
  Height:51px;
  border-radius: 22px;
  margin-left: 8%;
  margin-top: 2%;
  border: groove;

}


.registr-Button{
  margin-top: 30px;
  border: groove;
  width: 315px;
  height: 56px;
  border-radius: 40px;
  background-color: #cb8529
}

.registr-img{
  width: 287px;
  height: 215px;
  left: 44px;
  top: 68px;
  margin-top: 40px;
}